.post-box {
  max-width: var(--content-width);
  margin: 0 auto;
  transition: background-color .6s;
  padding: var(--space);
  transition: transform .3s, background-color .3s, box-shadow .6s;
  overflow-x: hidden;
}
